
  <div class="header">
    <div class="slide-up-fade-in">
      <br>ABOUT BUDGETOCITY
    </div>
  </div>
<div class="container content">
    <div class="row">
      <div class="col">
        <p class=" img-card"> </p>
      </div>
      <div class="col">
        <h1>About Us</h1>
        In the last years, several applications came as services to users, to facilitate the mechanism of booking their trips,
        in the country and out, instead of going to tourism offices. Most popular applications like, ‘Booking’ for hotels,
        ‘Skyscanner’ for flights and others. That all, with all of these modern features,
        still wasting and consuming time in planning and choose the best offers within a certain budget,
        because there is no one site or application that combine all together ( flight tickets, hotels, plan for food cost, and transportation etc...)
        and take in considerations the client budget and his limits.
        By the time there a need for a platform that let it all happen in one place.
        Nowadays, with the growth of dynamic web and developing new frameworks,
        appear the ability of third-party API to use it. So, we decide to develop this application to help people in
        planning a full trip by themselves according to specified budget. By its features it helps
        users to find hotels and flight without need a consultant from tourist offices or any other application.
        The application services and tools reduce user’s costs and consumed time.
        The application gives all the planning options of a trip according to the budget that include all the possible parameter and expenses.
        In addition, it's serves trips inside and outside the country within statistic that weights all possible spending parameters.
      </div>
      </div>
</div>
<hr />

