
<router-outlet>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <img src="../assets/BudgetToCityLogo.png" />
    <a class="navbar-brand" href="#">BudgetToCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">HOTELS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="flightURL();">FLIGHTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CARS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VACATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="aboutURL();">ABOUT</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1">Disabled</a>
        </li> -->
      </ul>
    </div>
  </nav>



</router-outlet>
